Source: janelznic-web
Section: unknown
Priority: extra
Maintainer: Jan Elznic <jan@elznic.com>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: janelznic-web
Architecture: any
Depends: apache2 (>= 2.4.38), libapache2-mod-php7.3 (>= 7.3.4), php7.3-common (>= 7.3.4)
Description: Jan Elznic Homepage 2.0 (PHP 7.0)
